# Токены ботов (получить у @BotFather)
BARBER_BOT_TOKEN=
CLIENT_BOT_TOKEN=
ADMIN_BOT_TOKEN=

# CryptoPay (Testnet или Mainnet)
CRYPTOPAY_TOKEN=

# ID Администраторов (через запятую)
ADMIN_IDS=12345678,87654321

# Google Calendar (файл credentials.json должен лежать в корне)
CALENDAR_ID=primary
GOOGLE_CREDS_FILE=credentials.json

# Платежи (если используешь Portmone)
PORTMONE_TEST_TOKEN=