# --- Системный мусор Python (нам не нужно) ---
__pycache__/
*.pyc

# --- Виртуальное окружение ---
venv/
env/
.venv/

# --- Настройки редактора (личные настройки) ---
.idea/
.vscode/

# --- БЕЗОПАСНОСТЬ (Самое важное!) ---
.env
token.txt

# --- База данных (Данные клиентов нельзя сливать!) ---
*.db
barbershop.db

# --- Google Calendar Ключи ---
credentials.json
token.json